<head>
    <script>
        $(documents).ready(function () {
            console.log("sdsa")
        });
    </script>
</head>
<section id="DomainSection">
    <div id="DomainSection" class="domain-section-wrapper  py-5 app-padding">
        <div class="section-title text-center mb-5">
            <h2> Got an idea? Let's bring it to life together! Our expertise is at your service. </h2>
            <p>
                We specialize in crafting tailored products that reflect your brand and elevate your business, enhancing
                productivity and maximizing performance. No matter your industry or business size, we're here to assist
                you every step of the way!
            </p>
        </div>
        <div class="row" id="DomainItemContainer">

        </div>
    </div>
</section>

<style>
    #DomainSection {
        background-color: #eff9ff;
    }

    #DomainSection .domain-section-wrapper {
        /* background-image: url("../../assets/images/home/hero-bg.png"); */
        background-position-y: 100.5%;
        background-repeat: no-repeat;
    }
</style>

<script>
</script>