<section id="hero" class="">
    <div class="hero-section-wrapper app-padding  pb-md-0">
        <div class="row pb-md-5">
            <div class="col-md-6 col-sm-12 mt-auto mb-auto order-last py-5">
                <div class="py-md-5 my-md-5 text-center text-md-start">
                    <h1 class="hero-title">
                        Transforming <br>
                        <span>Ideas</span> into <br>Reality
                        <span class="">Dig<span class="i-bounce">I</span>tal</span>
                    </h1>
                    <h5 class="my-5 fw-light  ">
                        Experience outstanding performance and stunning design. Reach Out to Us, Your Time Invested
                        Wisely,
                        Guaranteed.
                    </h5>
                    <a href="#" class="primary-action-btn" style="padding: 14px 20px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Build your product with us!
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 img-wrapper order-md-last  order-first " style="align-items: center;">
                <img src="./assets/images/home/hero.png" alt="img" width="100%" class="pt-5 pt-md-0" />
            </div>
        </div>
    </div>
</section>

<style>
    @media (max-width: 768px) {
        #hero .hero-title {
            font-size: 45px !important;
            font-weight: 800;
            line-height: 110%;
        }

        #hero .hero-title span {
            color: rgb(var(--primary), 1);
        }

        #hero .img-wrapper {
            align-items: end;
            display: flex;
            justify-content: top;
        }

    }

    /* he[ro section */
    #hero {
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 7%, rgba(239, 249, 255, 1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 7%, rgba(239, 249, 255, 1) 100%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 7%, rgba(239, 249, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#eff9ff", GradientType=1);
    }

    /* #hero .hero-section-wrapper {
        background-image: url("../../assets/images/home/hero-bg.png");
        background-position-y: 110%;
        background-repeat: no-repeat;
    } */

    #hero .hero-title {
        font-size: 65px;
        font-weight: 800;
        line-height: 120%;
    }

    #hero .hero-title span {
        color: rgb(var(--primary), 1);
    }

    #hero .img-wrapper {
        align-items: end;
        display: flex;
        justify-content: end;
    }
</style>