<section id="serviceSection">
    <div class="service-section-wrapper app-padding pb-md-5 pb-md-0 mt-n2">
        <div class="section-title text-center pt-5">
            <h2 class="text-white text-shadow">Got an idea? Let's bring it to life together! Our expertise is at your service.</h2>
            <p class="text-white">We specialize in crafting tailored products that reflect your brand and elevate your
                business, enhancing
                productivity and maximizing performance. No matter your industry or business size, we're here to assist
                you
                every step of the way!</p>
        </div>
        <!--  -->
        <div class="row pb-md-5">
            <div class="col-md-6 col-sm-12 mt-auto mb-auto order-md-last order-first pt-5">
                <div class="py-md-5 my-md-5 text-center text-md-start">
                    <h2 class="service-title">
                        Brainstorming & Product
                        workFlow
                        <span class="animate-fill-bg-right">development</span>
                    </h2>
                    <div class="mt-4 animate-slide-left">
                        <div class="line-decore" style="width:200px; background-color: rgb(var(--neon), 1);"></div>
                        <div class="line-decore ms-2" style="width:20px; background-color: rgb(var(--white), 1);"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 img-wrapper order-last " style="align-items: center;">
                <img src="../../assets/images/home/services/study.png" alt="" width="100%" class="pt-5 pt-md-0 animate-slide-up" />
            </div>
        </div>
        <!--  -->
        <div class="row pb-md-5">
            <div class="col-md-6 col-sm-12 mt-auto mb-auto  order-md-last pt-5">
                <div class="py-md-5 my-md-5 text-center text-md-end">
                    <h2 class="service-title px-2">
                        UI/UX <br> research and <br>
                        <span class="animate-fill-bg-right">development</span>
                    </h2>
                    <div class="mt-4 animate-slide-right">
                        <div class="line-decore ms-2" style="width:30px; background-color: rgb(var(--white), 1);"></div>
                        <div class="line-decore" style="width:250px; background-color: rgb(var(--neon), 1);"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 img-wrapper order-last order-md-first " style="align-items: center;">
                <img src="../../assets/images/home/services/ui.png" alt="" width="100%" class="pt-5 pt-md-0 animate-slide-up" />
            </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="row pb-5">
            <div class="col-md-6 col-sm-12 mt-auto mb-auto order-md-last order-first pt-5">
                <div class="py-md-5 my-md-5 text-center text-md-start">
                    <h2 class="service-title px-2">
                       Product <br>development <br>
                        <span class="animate-fill-bg-right">Service</span>
                    </h2>
                    <div class="mt-4 animate-slide-left">
                        <div class="line-decore" style="width:200px; background-color: rgb(var(--neon), 1);"></div>
                        <div class="line-decore ms-2" style="width:20px; background-color: rgb(var(--white), 1);"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 img-wrapper order-md-last " style="align-items: center;">
                <img src="../../assets/images/home/services/dev.png" alt="" width="100%" class="pt-5 pt-md-0 animate-slide-up" />
            </div>
        </div>
    </div>
</section>
<style>
    @media (max-width: 768px) {
        #serviceSection .service-title {
            font-size: 30px !important;
            font-weight: 600 !important;
            line-height: 130%;
        }

        #serviceSection .service-title span {
            color: rgb(var(--primary), 1);
        }

        #serviceSection .img-wrapper {
            align-items: end;
            display: flex;
            justify-content: top;
        }

    }

    /* he[ro section */
    #serviceSection {
        /* background-color: rgb(var(--primary), 1); */
        background: rgb(103, 61, 230);
        background: -moz-linear-gradient(126deg,
                rgba(103, 61, 230, 1) 29%,
                rgba(57, 34, 128, 1) 96%);
        background: -webkit-linear-gradient(126deg,
                rgba(103, 61, 230, 1) 29%,
                rgba(57, 34, 128, 1) 96%);
        background: linear-gradient(126deg,
                rgba(103, 61, 230, 1) 29%,
                rgba(57, 34, 128, 1) 96%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#673de6", endColorstr="#392280", GradientType=1);

    }

    #serviceSection .service-section-wrapper {
        background-image: url("../../assets/images/home/hero-bg-2.png");
        background-position-y: -3.5%;
        background-repeat: no-repeat;
    }

    #serviceSection .service-title {
        font-size: 50px;
        font-weight: 800;
        line-height: 130%;
        font-family: "Poppins", sans-serif;
        -webkit-text-fill-color: rgb(var(--white), 1);
    }

    #serviceSection .service-title span {
        line-height: 180%;
        -webkit-text-fill-color: rgb(var(--primary), 1);
        /* background-color: rgb(var(--neon), 1); */
        padding: 0px 5px;

    }

    #serviceSection .img-wrapper {
        align-items: end;
        display: flex;
        justify-content: end;
    }

    #serviceSection .line-decore {
        height: 5px;
        background-color: white;
        border-radius: 3px;
        display: inline-block;
    }
</style>