<section id="feature-stats" class="app-padding py-4">
    <div class="stats-wrapper">
        <div class="section-title text-center">
            <h2 class="text-white text-shadow mb-5">What we do at spidertech?</h2>
            <p class="fs-4 fw-normal text-center">
                At SpiderTech, we specialize in crafting clean, efficient code for seamless software development. Our
                mission is to streamline processes, enhance functionality, and deliver exceptional digital solutions
                tailored to our client's needs.
            </p>
        </div>

        <div class="semi-circle-left circle-style"></div>
        <div class="circle circle-style" style="left: 25px; bottom: 100px;"></div>

        <div class="semi-circle-right circle-style"></div>
        <div class="circle circle-style" style="right: 25px; top: 8px;"></div>


        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 mt-auto mb-auto text-center py-4">
                <p class="count"><span class="counting">5</span>+</p>
                <p class="fs-5 fw-medium">Clinets</p>
            </div>
            <div class="col-sm-6 col-md-4 mt-auto mb-auto text-center py-4">
                <p class="count" id="tutor_counter">
                    <span class="counting">10</span>+
                </p>
                <p class="fs-5 fw-medium">Products</p>
            </div>
            <div class="col-sm-6 col-md-4 mt-auto mb-auto text-center py-4">
                <p class="count" id="award_counter">
                    <span class="counting">1 Millions</span>+
                </p>
                <p class="fs-5 fw-medium">User Serverd</p>
            </div>
        </div>
    </div>
</section>
<style>
    #feature-stats .stats-wrapper {
        border-radius: 30px;
        background: rgb(103, 61, 230);
        background: -moz-linear-gradient(126deg,
                rgba(103, 61, 230, 1) 29%,
                rgba(57, 34, 128, 1) 96%);
        background: -webkit-linear-gradient(126deg,
                rgba(103, 61, 230, 1) 29%,
                rgba(57, 34, 128, 1) 96%);
        background: linear-gradient(126deg,
                rgba(103, 61, 230, 1) 29%,
                rgba(57, 34, 128, 1) 96%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#673de6", endColorstr="#392280", GradientType=1);
        color: #fff;
        font-weight: 700;
        position: relative;
        padding: 40px;
    }

    #feature-stats .count {
        font-size: 35px;
    }

    #feature-stats .label {
        font-size: 25px;
    }

    #feature-stats .circle-style {
        background: #fff;
        opacity: 0.2;
        position: absolute;
        border-radius: 50%;
    }

    #feature-stats .semi-circle-left {
        height: 100px;
        width: 55px;
        border-radius: 0px 150px 150px 0;
        bottom: 20px;
        left: 0px;
    }

    #feature-stats .circle {
        height: 30px;
        width: 30px;
    }

    #feature-stats .semi-circle-right {
        height: 100px;
        width: 55px;
        border-radius: 150px 0px 0px 150px;
        top: 20px;
        right: 0px;
    }
</style>