<section id="teamSection" class="app-padding">
    <!-- <div class="row pb-md-5">
        <div class="col-md-6 col-sm-12 mt-auto mb-auto order-md-last order-first pt-5">
        </div>
    </div> -->
    <center>

        <table width="100%">
            <tr>
                <td style="width: 25%;"></td>
                <td style="width: 25%;"></td>
                <td style="width: 25%;"></td>
                <td style="width: 25%;"></td>
            </tr>
            <tr>
                <td rowspan="2">
                    <div>
                        <div class="team-profile-card p-4">
                            <div class="my-5">
                                <h5>XYZ XXXX</h5>
                                <p>Director</p>
                            </div>
                            <img src="../../assets/images/testimonial/user-testimonial.png" alt="" width="100%">
                        </div>
                    </div>
                </td>
                <td colspan="2" class=" text-center">
                    <center>
                    <div class="team-profile-card p-4">
                        <div class="my-5">
                            <h5>XYZ XXXX</h5>
                            <p>Director</p>
                        </div>
                        <img src="../../assets/images/testimonial/user-testimonial.png" alt="" width="100%">
                    </div>
                </center>
                </td>
                <td rowspan="2">
                    <div>
                        <div class="team-profile-card p-4">
                            <div class="my-5">
                                <h5>XYZ XXXX</h5>
                                <p>Director</p>
                            </div>
                            <img src="../../assets/images/testimonial/user-testimonial.png" alt="" width="100%">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <div>
                        <div class="team-profile-card p-4">
                            <div class="my-5">
                                <h5>XYZ XXXX</h5>
                                <p>Director</p>
                            </div>
                            <img src="../../assets/images/testimonial/user-testimonial.png" alt="" width="100%">
                        </div>
                    </div>
                </td>
                <td rowspan="2">
                    <div>
                        <div class="team-profile-card p-4">
                            <div class="my-5">
                                <h5>XYZ XXXX</h5>
                                <p>Director</p>
                            </div>
                            <img src="../../assets/images/testimonial/user-testimonial.png" alt="" width="100%">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </center>

</section>
<style>
    #teamSection table {}

    #teamSection .team-profile-card {
        background-color: #D9E6FF;
        border-radius: 250px;
        width: 80%;
    }

    @media (max-width: 768px) {}

    /* he[ro section */
</style>